/*
* @Author: 诸葛钢筋
* @Date:   2020-05-30 16:10:43
* @Last Modified by:   Chen-Rui-137
* @Last Modified time: 2020-05-31 20:46:14
*/
body{
	background-color: rgba(191,191,191,0.3)
}
.a{
	width: 1200px;
	height: 101px;
	margin: 0 auto;
}
.xueli
{
	width:170px;
	line-height:39px;
	margin: 33px 0 29px  0;
	float: left;
	text-align: center;
}
.xueli p{
	font-size:40px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(0,164,255,1);
 	letter-spacing: 1pt;
	line-height:39px;
	text-align: center;
	vertical-align: top;
}
.map{
	margin-left: 79px;
	float: left;
	margin-top: 31px
}
.map li{
	float: left;
	line-height: 39px;
	margin-right: 28px;
}
.map .t3{
	width: 94px;
}
.map li a{
	font-size:18px;
	font-weight:400;
	color:rgba(5,5,5,1);
	text-align: center;
	float: left;
	width: 54px;
	height: 37px;
}

.map .t3 a{
	font-size:18px;
	font-weight:400;
	color:rgba(5,5,5,1);
	width: 94px;
	text-align: center;
}
.map  a:hover{
	border-bottom: 2px solid #00A4FF ;
}
.form{
	float: right;
	margin-top: 31px;
}
.search{
	float: left;
	width:342px;
	height:13px;
	border: 1px solid rgba(0,164,255,1);
	padding-top: 13px ;
	padding-bottom: 12px;
	padding-left: 19px;
}
.submit{
	float: left;
	width:50px;
	height:40px;
	background:rgba(0,164,255,1)  url(xuelizaixian/2.png) no-repeat center center;
	border: none;
}
.per{
	margin-left: 31px;
	margin-top: 31px;
	margin-right: 42px;
	float:right;
	line-height: 40px;
}
.per a{
	line-height: 40px;
	font-size:14px;
	font-weight:400;
	color:rgba(102,102,102,1);
}
.bigbg{
	background-color: rgba(28,3,108,1);
	height: 420px;
	width: 100%;
}
.bg{
	width: 1200px;
	height: 420px;
	margin: 0 auto;
	position: relative;
}
.bg2{
	padding-left: 30px;
	width: 1200px;
	height: 420px;
	margin: 0 auto;
}

.list{
	padding-top: 12px;
	position: absolute;
	top: 0;
	left: 0;
	width:190px;
	height:408px;
	background:rgba(0,0,0,0.3);
	text-align: left;
}
.list ul li a{
	width:101px;
	font-size:14px;
	font-weight:400;
	line-height:44px;
	width: 190px;
	color: #fff;
	margin-left: 21px;
}
.list ul li a:hover{
	color:rgba(0,180,255,1);
}

.daohang li{
	float: left;
	text-align: center;
}
.xiugai{
	float: right;
	color: #00A4FF;
}
.nav{
	margin: 0 auto;
	margin-top: 8px;
	width:1126px;
	height: 18px;
	padding: 21px 61px 21px 13px;
	background-color: #FFFFFF;
}

.nav ul li{
	width: 130px;
	font-size:16px;
}
.nav li{
		border-right:1px solid rgba(191,191,191,1);
}
.naa{
	width: 1200px;
	margin: 0 auto;
}
.one{
	color: #00A4FF;
	font-weight: bold;
}
.nice{
	margin-top: 37px;
	margin-bottom: 21px;
	
	height:19px;
	width: 1920px;
	font-size:20px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(73,73,73,1);
}
.you{
	float: left;
	margin: 0;
}
.look{
	float: right;
	margin-right: 731px;
	height:13px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(165,165,165,1);
}
.picture1{
	width: 1225px;
}
.photo{
	float: left;
	margin-right: 15px;	
	margin-bottom: 15px;
}
.picture2{
	width: 1225px;
}
.before{
	width: 1225px;
}
.nice{
	float: left;
}
.nice li{
	float: left;
	width: 120px;
	text-align: center;
	font-size:16px;
	font-family:Microsoft YaHei;

}
.nice ul{
	margin-right:1px;
}
.me{
	margin-right: 291px;
}
.hey{
	float: right;
	margin-right: 731px;
	height:13px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(165,165,165,1);
}
.remen{
	color: #00A4FF;
}
.picture3{

	width: 1225px;
}
.teacher{
	float: left;
	margin-right: 15px;	
	margin-top: 33px;
}

.teach img{
	border:1px solid rgba(165,165,165,0.2);
}
.zaixian{
	width:1917px;
	height:417px;
	background:rgba(255,255,255,1);
	margin: 124px 1394px 257px 380px ;
	display: block;
}

.xuelizaixian{
	
	line-height:36px;
	font-size:36px;
	font-weight:bold;
	color:rgba(0,164,255,1);
	position: relative;
}
.photo{
	position: relative;
	border:1px solid rgba(165,165,165,0.2);
	height: 270px;
}
.photo a{
	position: absolute;
	top: 179px;
	left:21px ;
	right: 20px;
	text-align: left;
	font-size:14px;
	font-weight:400;
	color:rgba(5,5,5,1);
	line-height:20px;
}
.photo div{
	width: 185px;
	height: 35px;
}
.photo p{
	position: absolute;
	bottom: 26px;
	left: 22px;
}

.gaoji{
	color: #FF7C2D;
	font-size:12px;
	font-weight:400;
}
.xuexi{
	margin-left: 40px;
	font-size:12px;
	font-weight:400;
	color:rgba(165,165,165,1);
}
.teacher{
	position: relative;
	height: 320px;
}
.teacher1{
	float: left;
	position: relative;
	margin-top:33px; 
	margin-right: 15px;
}
.teacher1 ul{
	position: absolute;
	left: 25px;
	top: 99px;
}
.teacher1 ul .lli{
	font-weight:bold;
	color: #F9E103;
	font-size:30px;
	line-height:36px;
}
.teacher1 li{
	color:white;
	font-size:27px;
} 
#look{
	width: 85px;
	height: 10px;
	border: 1px solid #F9E103;
	margin-left: 3px;
	margin-top: 12px;
	padding: 0 0 23px 17px;
}
#look a{
	font-size:13px;
	font-weight:400;
	color:rgba(249,225,3,1);
	line-height:20px;
	text-align: center;
}

.js{
	width: 430px;
	height: 320px;
}
.zxcvb #qq{
	margin-right: 0;
}

.jieshao{
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	height:122px;
	background: rgba(0,0,0,0.5);
	padding-left: 25px;
}
.laoshi1{
	margin-top: 21px;
	margin-bottom: 12px;
	
}
body div .ttt3{
	margin: 0;
}
.wen{
	margin-right: 10px;
	margin-left: 4px;
	font-size: 18px;
	float: left;
}
.shuju{
	padding-top: 3px;
	font-size: 14px;
	float: left;
}
.jingli{
	font-size: 12px;
}
.jingli p{
	padding-right: 28px;
	
}